.fpoly{
    font-variant: small-caps;
    text-align: center;
    font-size: 25px;
}
.fpoly>a{
  color: blue;
  text-decoration: none;
}
.fpoly>a:visited{
    color: green;
}
.fpoly>a:hover{
    color: red;
    text-decoration: underline;
}
