p {
  text-align: center;
}
p > img {
  width: 150px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: yellow;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px rgb(15, 15, 235);
}
p > img:hover {
  box-shadow: 5px 5px red;
  background-color: aqua;
}
