body{
    background-image: url('../image/1.jpg');
    background-size: cover;
    background-position: -100px;

}
.container{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background-color: black;

}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;

}
#logo img{
    max-width: 50px;
    height: auto;


}

#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu{
    
}